.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #f9f9f9;
}

.editor-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}
